.projects {
  padding-top: 93px;
  padding-bottom: 95px;
}
.filters-navigate-ul {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-btn {
  border: none;
  font-family: Roboto;
  border-radius: 4px;
  padding: 6px 22px;
  background: #fff;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}
.filters-btn:hover {
  cursor: pointer;
}
.active {
  background: var(--accent-color);
  color: #fff;
}
.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.projects-list-item {
  flex-basis: calc((100% - 60px) / 3);
}
.projects-list-item-title {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.projects-list-item-signature {
  color: var(--text-color-2);
  line-height: 1.875;
  letter-spacing: 0.48px;
}
