:root {
  --accent-color: #2196f3;
  --main-bg-color: #2f303a;
  --main-text-color: #212121;
  --text-color-2: #757575;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto";
}
.web {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.studio {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.list-item1,
.list-item2,
.list-item3,
.list-item4,
.list-item5 {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.list-item2,
.list-item3 {
  color: var(--main-text-color);
}
.list-item4,
.list-item5 {
  color: var(--text-color-2);
  transition: all 0.5s ease;
}
.list-item4:hover,
.list-item5:hover {
  color: var(--accent-color);
}

.first-section-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.first-section-buybtn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.special-ul-item1-title,
.special-ul-item2-title,
.special-ul-item3-title,
.special-ul-item4-title {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.special-ul-item1-signature,
.special-ul-item2-signature,
.special-ul-item3-signature,
.special-ul-item4-signature {
  color: var(--text-color-2);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.what-we-doing-title,
.our-team-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.our-team-ul-item1-name,
.our-team-ul-item2-name,
.our-team-ul-item3-name,
.our-team-ul-item4-name,
.our-team-ul-item1-profession,
.our-team-ul-item2-profession,
.our-team-ul-item3-profession,
.our-team-ul-item4-profession {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.our-team-ul-item1-profession,
.our-team-ul-item2-profession,
.our-team-ul-item3-profession,
.our-team-ul-item4-profession {
  color: var(--text-color-2);
  font-weight: 400;
}

.address {
  background: var(--main-bg-color);
}
.address > p {
  color: #fff;
}
.address-url,
.email-url,
.number-url {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: 0.5s;
}
.address-url:hover,
.email-url:hover,
.number-url:hover {
  color: #fff;
}
/*



.section {
  width: 98.7vw;
  height: 600px;
  flex-shrink: 0;
  background: #2f303a;
  margin-top: 30px;
}
.address {
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
  background: #2f303a;
}
.a1 {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.a2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.a3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
ul.ul1 {
  margin: 0; 
  padding: 4px; 
}
ul.ul1 li {
  display: inline; 
  margin-right: 5px;
  padding: 3px;
}
ul.ul2 {
  margin: 0; 
  padding: 4px; 
}
ul.ul2 li {
  display: inline; 
  margin-right: 5px;
  padding: 3px;
} */
